* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F6F1F1;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 30rem;
    height: 30rem;
}

header {
    text-align: center;
    background-color: #146C94;
    padding: 2rem;
    color: #F6F1F1;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-message {
    margin: 1.5rem;
    font-size: 1.5rem;
    color: #146C94;
}

.container > button {
    font-size: 2rem;
}

.X {
    color: rgb(243, 76, 76);
}

.O {
    color: #146C94
}

.main > .restart {
    padding: 0.3rem 2rem;
    margin-top: 1rem;
    background-color: #146C94;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    border: none;
    color: #F6F1F1;
}

.main > .restart:hover {
    background-color: #385a69;
    cursor: pointer;
}